@{
    ViewData["Title"] = "Home Page";
}

<br/>

<div id="tree"></div>

<div id="add-student">
    <button class='pull-right'>Add</button>
</div>

<div id="remove-student">
    <button class='pull-right'>Remove</button>
</div>

<div id="student-details">
    <button class='pull-right'>Details</button>
</div>

<div id="grade-details">
    <button class='pull-right'>Grade Details</button>
</div>